<ion-view view-title="Kiloan">
  <ion-content class="ek-kiloan">
    <div class="list list-inset">
      <label class="item item-input item-select">
        <div class="input-label">
          Weight
        </div>
        <select>
          <option selected>1-3 kilos</option>
          <option>3-5 kilos</option>
          <option>More than 5 kilos</option>
        </select>
      </label>
    </div>
    <div class="list">
      <div class="item item-button-right" ng-repeat="data in items">
        <span>{{data.qty}} piece  of</span> {{data.type}} 
        <button class="button" ng-click="removeItem($index)">
          <i class="icon ion-minus"></i>
        </button>
      </div>
    </div>
    <div class="ek-note">
      <h5>Note : </h5>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
      <textarea placeholder="Insert a note"></textarea>
      </div>
    </div>
  </ion-content>
  <div class="ek-opt--btn">
    <button class="button button-block button-dark" ui-sref="app.outlet" >Submit</button>
  </div>
</ion-view>
