@media only screen 
  and (min-width: 320px) 
  and (max-width: 787px){
    html{
      font-size: 50%;
    }
    .hl-container-lg, .hl-container-md{
    	width: auto;
    }
    .hl-flex-center{
    	flex-direction: column;
    }
    h1{
    	font-size: 30px;
    	line-height: 35px;
    }
    header{
    	height: 85px;
    }
    .hl-wr-logo{
    	width: 85px;
    	height: 85px;
    }
    .hl-wr-logo__img{
  		max-width: 65px;
    }
    .hl-menu-icon{
    	top: 15px;
    }
    .hl-about__heading{
    	text-align: center;
    }
    .hl-about__content{
        padding: 0;
    }
    
}