.pp-header-search{
	text-align: center;
	background-color: #e62451;
	height: 219px;
}
.pp-header-search--home{
	height: 263px;
	span{
		font-family: "Lato-Regular";
		font-size: 13px;
		color: #ffffff;
	}
}
.pp-search__title{
	padding: 50px 0 0;
	width: calc(100% * 10 /12);
	margin: auto;
	h5, h4{
		font-family: 'Lato-Light';
		color: #fff;
		margin-bottom: 20px;
	}
	h4{
		margin-bottom: 30px;
	}
	form{
		width: 100%;
	}
	input, select, button{
		height: 50px;
		-webkit-apperance : none;
		border: 0;
		outline: 0;
		padding-left: 17px;
		padding-right: 17px;
	    color: #979797;
	    font-size: 16px;
		font-family: "Lato-Regular";
	}
	.select{
		position: relative;
		&:after{
			content: "\f0dc ";
		    font: normal normal normal 14px FontAwesome;
		    position: absolute;
		    right: 16px;
		    top: 19px;
		}
	}
	select{
		border-right: 1px solid #d7d7d7	;
		border-radius: 0;
	    width: 208px;
	    cursor: pointer;
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	}
	input{
		@include all(flex-grow, 1);
	}
	button{
		background: yellow;
		padding-left: 20px;
		padding-right: 32px;
		color: #e62451;
		font-family: "Lato-Bold";
		font-size: 20px;
		i{
			margin-right: 10px;
			line-height: 14px;
		}
	}
}
.pp-filter--aside,.pp-filter--main{
	float: left;
	position: relative;
}
.pp-filter--aside{
	width: 315px;
	border-right: 1px solid #d7d7d7;
	padding-right: 35px;
	i{
		margin-right: 5px;
	}
}
.pp-filter--main{
	width: calc(100% - 315px);
	padding-left: 30px;
	>.show{
		opacity: .3;
	}
}
.pp-filter-meta{
	overflow: hidden;
    clear: right;
    vertical-align: middle;
    margin-bottom: 15px;
    h6{
    	float: left;
    	font-family: "Lato-Regular";
    	color: #272727;
    }
}
.pp-filter-meta__choose{
	float: right;
	margin-top: 6px;
	a.active{
		color: #e62452;
	}
}
.pp-box--filter{
	background-color: #f1f1f1;
	padding: 15px;
	border-color: #d7d7d7;
	margin-bottom: 15px;
	>div{
		border-bottom: 1px solid #d7d7d7;
		padding-bottom: 15px;
		padding-top: 15px;
		h6{
			margin-bottom: 5px;
			font-size: 14px;
		}
		&:first-of-type{
			padding-top:0;
		}
		&:last-of-type{
			border-bottom:0;
			padding-bottom: 0;
		}
	}
	*:not(h6):not(i){
		color: #979797;
	}
	label{
		margin-bottom: 0;
		vertical-align: middle;
		font-family: "Lato-Regular";
	}
	input[type=checkbox], input[type=radio]{
		margin-right: 5px;
		margin-top: 0;
		vertical-align: middle;
		-webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    width: 12px;
	    height: 12px;
	    background-color: #fff;
	    outline: 0;
	    border: 1px solid #d8d8d8;
	    cursor: pointer;
	    &:checked{
	    	background-color: #e62452;
	    }
	}
	input[type=radio]{
		border-radius: 50%;
	}
	
	& +button{
		width: 100%;
		font-family: "Lato-Bold";
		background-color: #e62452;
	}
}
.pp-filter--industry{
	h6:after{
		content: "\f0da";
		font: normal normal normal 18px FontAwesome;
    	float: right;
    	margin-top: 5px;
	}
	li{
		text-transform: capitalize;
		opacity: .5;
		&:nth-child(2){
			opacity: .2;

		}
		&:nth-child(3){
			opacity: .1;

		}
	}
}
.pp-filter--salary, .pp-filter--gender{
	label{
		margin-right: 5px;
	}
}
.pp-box--found, .pp-box--home{
	border:1px solid #d7d7d7;
	padding: 8px;
	overflow: hidden;
	position: relative;
	span{
		font-size: 14px;
		color: #4a4a4a;
		line-height: 24px;
	}
}
.pp-box--found{
	margin-bottom: 10px;
}
.pp-box--home{
	padding: 6px;
}
.pp-found__img, .pp-home__img{
	padding: 4px;
	border: 1px solid #ebebeb;
	background-color: #fff;
	float: left;
	margin-right: 10px;
	img{
		height: 88px;
		width: 88px;
		background-color: white;
	}
}
.pp-home__img{
	padding: 4px;
	img{
		height: 71px;
		width: 71px;
	}
}
.pp-found__info, .pp-home__info{
	 text-transform: capitalize;
	h6{
		margin-top: 7px;
	}
}
.pp-found__btn{
	position: absolute;
	bottom: 10px;
	right: 15px;
}
.pp-home--company{
	background-color: #f8f8f8;
}
.pp-home{
	padding: 35px 0;
	h4{
		margin-bottom: 15px;
	}
	div[class*=col]{
		margin-bottom: 15px;
	}
}
.pp-box-home-jurnal{
    height: 190px;
    padding: 15px;
}
.pp-jurnal__title{
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
}
.pp-list-industy{
	opacity: 0;
	display: none;
}
.pp-list-industy.show{
	opacity: 1;
	display: inline;
	background-color: #fff;
	position: absolute;
	top: 0;
    right: 0;
    left: 30px;
    border: 1px solid #d8d8d8;
    z-index: 9999;
}
.pp-list__heading{
	clear: both;
    overflow: hidden;
    padding: 15px 20px;
    border-bottom: 4px solid #d8d8d8;
    h6{
    	float: left;
    	vertical-align: middle;
    	a{
    		font-size: 16px;
    		line-height: 26px;
    	}
    }
    > a{
    	float: right;
    	vertical-align: middle;
    }
}
.pp-list__main{
	-webkit-column-count: 2;
    -moz-column-count: 3;
    column-count: 3;
    padding: 12px 20px;
    li a{
    	text-transform: capitalize;
    	font-family: "Lato-Regular";
    	font-size: 13px;
    	line-height: 23px;
    	color: #4a4a4a;
    }
    li:hover a{
		color:#e62452;
		text-decoration: none;
	}
}
.pagination-first, .pagination-last{
	display: none!important;
}
.pagination a{
	margin-right: 9px;
}
.pagination>li{
	text-align: left;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
	background-color: #e62452;
	border-color: #d8d8d8;
}
.pagination-sm>li>a, .pagination-sm>li>span{
	background-color: #f1f1f1;
	border: 1px solid #d8d8d8;
	padding: 9px 14px;
	font-family: "Lato-Regular";
	font-size: 14px;
	line-height: 14px;
	color: #323232;
}
.pagination li:last-of-type a{
	margin-right: 0;
}
.pagination-next a, .pagination-prev a{
	background-color: #323232!important;
	color: #ffffff!important;
	text-indent: -9999px;
  	line-height: 0!important;
}
.pagination-prev a::after{
	content: "\f053";
	text-indent: 0;
  display: block;
  line-height: initial;
	font: normal normal normal 14px FontAwesome;
}
.pagination-next a::after{
	content: "\f054";
	text-indent: 0;
  display: block;
  line-height: initial;
	font: normal normal normal 14px FontAwesome;
}
.pp-box--found--overlay{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 13px;
    right: 13px;
    background: transparent	;
    opacity: 0;
    cursor: pointer;
    @include transition(opacity ease-in .35s);
}
.pp-box--found--overlay:hover{
	opacity: .9;
}