<ion-view view-title="Home">
  <ion-content>
      

    <div class="ek-index">
        <div class="overlay"></div>
        <img ng-src="assets/img/laundry-saloon-567951_960_720.jpg" alt="index-bg">
        <figcaption class="ek-home__caption">
            <div class="ek-home__action">
                <a ui-sref="app.kiloan" class="ek-home__choice">
                    <div class="ek-choice__item">
                        <img ng-src="assets/img/laundry-service.jpg" alt="kiloan" class="ek-choice__img">
                        <div class="ek-choice__caption">
                            <h2>Kiloan</h2>
                            <span>Lorem Ipsum</span>
                        </div>
                    </div>
                </a>
                 <a ui-sref="app.kiloan" class="ek-home__choice">
                    <div class="ek-choice__item">
                        <img ng-src="assets/img/tshirt.jpg" alt="kiloan" class="ek-choice__img">
                        <div class="ek-choice__caption">
                            <h2>Satuan</h2>
                            <span>Lorem Ipsum</span>
                        </div>
                    </div>
                </a>
            </div>
        </figcaption>
    </div>
  </ion-content>
</ion-view>
