<ion-view view-title="index">
  <ion-content>
    <div class="ek-index">
    	<div class="overlay black"></div>
    	<img ng-src="assets/img/laundry-saloon-567951_960_720.jpg" alt="index-bg">
    	<figcaption class="ek-index__caption">
    		<div class="ek-index__quote">
    			<h4>Lorem Ipsum</h4>
    		</div>
    		<div class="ek-index__action">
    			<button class="button button-block button-outline button-light"  ui-sref="signIn">Sign In</button>
                <button class="button button-block button-outline button-light">Sign In with Facebook</button>
                <a ui-sref="signUp">Don't have an Account?</a>
    		</div>
    	</figcaption>
    </div>
  </ion-content>
</ion-view>
