<ion-view view-title="Info">
  <ion-content>
<div class="ek-info">
  <div class="ek-info__header">
    <div class="overlay black"></div>
    <img src="assets/img/laundry-saloon-567951_960_720.jpg">
    <div class="ek-info__caption">
      <h1>Fresh Box</h1>
      <span>Jalan Nasional No. 1</span><br>
      <span>021-12312321</span><br>
    <span>Opening Hour : 19.00 - 21.00</span>
    </div>
  </div>
  <div class="ek-info__detail">
    <h4>Estimated Price : 15.000</h4>
  </div>
</div>
  </ion-content>
  <div class="ek-opt--btn">
    <button class="button button-block button-dark">Submit</button>
  </div>
</ion-view>
